Repository CloudPirates-io/helm-charts, pull requests merged in 2025-10, with the labels that each got.

#209 [keycloak] add topologySpreadConstraints and trafficDistribution opti…
  charts/keycloak/CHANGELOG.md
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/templates/deployment.yaml
  charts/keycloak/templates/service.yaml
  charts/keycloak/values.schema.json
  charts/keycloak/values.yaml
Labels: enhancement, keycloak

#210 [rabbitmq] Add automatically generated fields to volumeClaimTemplates
  charts/rabbitmq/CHANGELOG.md
  charts/rabbitmq/Chart.yaml
  charts/rabbitmq/templates/statefulset.yaml
Labels: enhancement, rabbitmq

#215 [keycloak] Add support for extra volumes, volumeMounts and initContainers
  charts/keycloak/CHANGELOG.md
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/templates/deployment.yaml
  charts/keycloak/values.schema.json
  charts/keycloak/values.yaml
Labels: enhancement, keycloak

#221 [keycloak] default http relative path to '/' to fix argocd deployment
  charts/keycloak/Chart.yaml
  charts/keycloak/values.yaml
Labels: keycloak

#227 [redis]: fix dual stack networking issues
  charts/redis/CHANGELOG.md
  charts/redis/Chart.yaml
  charts/redis/templates/statefulset.yaml
  charts/redis/values.schema.json
  charts/redis/values.yaml
Labels: bug, redis

#242 [mongodb] update values.schema.json
  charts/mongodb/CHANGELOG.md
  charts/mongodb/Chart.yaml
  charts/mongodb/values.schema.json
Labels: documentation, mongodb
