Repository CloudPirates-io/helm-charts, pull requests merged in 2025-08, with the labels that each got.

#15 [postgres] added support for service account configuration
  charts/postgres/Chart.yaml
  charts/postgres/README.md
  charts/postgres/templates/_helpers.tpl
  charts/postgres/templates/serviceaccount.yaml
  charts/postgres/templates/statefulset.yaml
  charts/postgres/tests/service-account_test.yaml
  charts/postgres/values.schema.json
  charts/postgres/values.yaml
Labels: postgres

#17 [memcached]: Initial Memcached Implementation
  charts/memcached/Chart.lock
  charts/memcached/Chart.yaml
  charts/memcached/LICENSE
  charts/memcached/README.md
  charts/memcached/artifacthub-repo.yml
  charts/memcached/templates/_helpers.tpl
  charts/memcached/templates/configmap.yaml
  charts/memcached/templates/deployment.yaml
  charts/memcached/templates/ingress.yaml
  charts/memcached/templates/service.yaml
  charts/memcached/templates/serviceaccount.yaml
  charts/memcached/tests/common-parameters_test.yaml
  charts/memcached/values.schema.json
  charts/memcached/values.yaml
Labels: enhancement, memcached

#19 [memcached] Add Memcached to readme
  README.md
Labels: documentation
