Repository CloudPirates-io/helm-charts, pull requests merged in 2025-09, with the labels that each got.

#35 [mariadb] Default randomized password
  charts/mariadb/CHANGELOG.md
  charts/mariadb/Chart.yaml
  charts/mariadb/templates/_helpers.tpl
  charts/mariadb/templates/secret.yaml
Labels: enhancement, mariadb

#37 [nginx] added a new chart for nginx
  README.md
  charts/nginx/CHANGELOG.md
  charts/nginx/Chart.lock
  charts/nginx/Chart.yaml
  charts/nginx/LICENSE
  charts/nginx/README.md
  charts/nginx/artifacthub-repo.yml
  charts/nginx/templates/_helpers.tpl
  charts/nginx/templates/configmap.yaml
  charts/nginx/templates/deployment.yaml
  charts/nginx/templates/extraobjects.yaml
  charts/nginx/templates/hpa.yaml
  charts/nginx/templates/ingress.yaml
  charts/nginx/templates/service.yaml
  charts/nginx/templates/serviceaccount.yaml
  charts/nginx/tests/common-parameters_test.yaml
  charts/nginx/values.schema.json
  charts/nginx/values.yaml
Labels: nginx

#48 [rabbitmq]: Fix erlang cookie copy / access rights
  charts/rabbitmq/CHANGELOG.md
  charts/rabbitmq/Chart.yaml
  charts/rabbitmq/templates/statefulset.yaml
Labels: rabbitmq

#71 [nginx] Implement static website git clone
  charts/nginx/CHANGELOG.md
  charts/nginx/Chart.yaml
  charts/nginx/templates/deployment.yaml
  charts/nginx/values.yaml
Labels: enhancement, nginx

#96 [valkey] Fix scheduling directives with disabled persistance
  charts/valkey/CHANGELOG.md
  charts/valkey/Chart.yaml
  charts/valkey/templates/statefulset.yaml
Labels: bug, valkey

#102 [keycloak]: Keycloak implementation
  charts/keycloak/.helmignore
  charts/keycloak/CHANGELOG.md
  charts/keycloak/Chart.lock
  charts/keycloak/Chart.yaml
  charts/keycloak/artifacthub-repo.yml
  charts/keycloak/templates/_helpers.tpl
  charts/keycloak/templates/configmap.yaml
  charts/keycloak/templates/deployment.yaml
  charts/keycloak/templates/extraobjects.yaml
  charts/keycloak/templates/ingress.yaml
  charts/keycloak/templates/pvc.yaml
  charts/keycloak/templates/secret.yaml
  charts/keycloak/templates/service.yaml
  charts/keycloak/templates/serviceaccount.yaml
  charts/keycloak/tests/common-parameters_test.yaml
  charts/keycloak/tests/service-account_test.yaml
  charts/keycloak/values.yaml
Labels: enhancement

#122 Add zookeeper label to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: documentation, zookeeper

#132 [keycloak] Fix deprecated environment variable warning
  charts/keycloak/CHANGELOG.md
  charts/keycloak/Chart.yaml
  charts/keycloak/templates/deployment.yaml
Labels: bug, keycloak

#148 [RabbitMQ] several new configuration options
  charts/rabbitmq/CHANGELOG.md
  charts/rabbitmq/Chart.yaml
  charts/rabbitmq/README.md
  charts/rabbitmq/templates/_helpers.tpl
  charts/rabbitmq/templates/pdb.yaml
  charts/rabbitmq/templates/role.yaml
  charts/rabbitmq/templates/rolebinding.yaml
  charts/rabbitmq/templates/service-headless.yaml
  charts/rabbitmq/templates/service.yaml
  charts/rabbitmq/templates/serviceaccount.yaml
  charts/rabbitmq/templates/statefulset.yaml
  charts/rabbitmq/values.yaml
Labels: enhancement, rabbitmq

#153 [mongodb] add custom user creation at initialization
  charts/mongodb/CHANGELOG.md
  charts/mongodb/Chart.yaml
  charts/mongodb/README.md
  charts/mongodb/templates/custom-user-script.yaml
  charts/mongodb/templates/custom-user-secret.yaml
  charts/mongodb/templates/statefulset.yaml
  charts/mongodb/values.yaml
Labels: enhancement, mongodb

#158 [keycloak] add support for extra env vars from an existing secret
  charts/keycloak/Chart.lock
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/templates/deployment.yaml
  charts/keycloak/values.schema.json
  charts/keycloak/values.yaml
Labels: enhancement, keycloak

#166 [common] Fix/set securitycontext based on targetplatform to comply with openshift clusters
  charts/common/Chart.yaml
  charts/common/README.md
  charts/common/templates/_helpers.tpl
  charts/common/values.yaml
  charts/nginx/Chart.yaml
  charts/nginx/templates/deployment.yaml
  charts/zookeeper/Chart.yaml
  charts/zookeeper/README.md
  charts/zookeeper/values.yaml
Labels: enhancement, common

#179 [auto-label] Don't add `_No response_` as label
  .github/workflows/auto-label.yaml
Labels: bug

#180 [Postgres] update default postgres config files
  charts/postgres/CHANGELOG.md
  charts/postgres/Chart.yaml
Labels: bug, postgres

#183 [keycloak] replace deprecated 'proxy' with new proxy parameters
  charts/keycloak/CHANGELOG.md
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/templates/deployment.yaml
  charts/keycloak/values.schema.json
  charts/keycloak/values.yaml
Labels: bug, keycloak

#189 [minio] add more configuration options for the minio server
  charts/minio/CHANGELOG.md
  charts/minio/Chart.yaml
  charts/minio/README.md
  charts/minio/templates/deployment.yaml
  charts/minio/values.schema.json
  charts/minio/values.yaml
Labels: enhancement, minio
